.header {
    padding: 0px 0 56px;
}

.header__row{
    display: flex;
    column-gap: 30px;
    align-items: start;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header__logo span {
    font-weight: 800;
    font-size: 25px;
    line-height: 1.5;
    color: #111111;
}

.header__nav{
    display: flex;
    list-style: none;
}

.header__nav a{
    color: #2e2e2e;
    text-decoration: none;
}

.header__page {
    margin-right: 190px;
    border: 2px solid transparent;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 20px;
    list-style: none;
}

.header__page:hover {
    border-color: #82BBB5;
}
