@media only screen and (max-width: 321px) {

    .logo{
        margin-top: -5px;
        margin-left: 90px;
    }
    .name{
        margin-top: auto;
        margin-left: 10px;
        justify-content: center;
        text-align: center;
    }
    .menu__item {
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    ul.menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0;
    }
    li.menu__item{
        width: 200px;
    }

    a{
        width: 200px;
        height: 40px;
    }

    .signin{
        text-align: center;
        justify-content: center;
        margin-left: 50px;
    }

    .vpn__title{
        margin-top: 30px;
    }

    .vpn__title{
        font-size: 40px;
    }

    .getStarted{
        width: 280px;
        justify-content: center;
        text-align: center;
    }

    .illustration2__item{
        width: 280px;
        height: 200px;
        margin-left: auto;
        margin-top: 0;
    }

    .features__title{
        margin-left: auto;
        margin-top: 10px;
        font-size: 35px;
        text-align: center;
        width: 290px;
    }

    .features__text{
        margin-left: auto;
        margin-top: 50px;
        width: 270px;

    }

    .pointer__item{
        margin-left: auto;
        width: 270px;
    }

    .comments__title{
        margin-left: auto;
        width: 300px;
    }

    .comments__text{
        margin-left: auto;
        margin-top: 50px;
        width: 270px;
        text-align: left;
    }

    .firstComment{
        margin-top: 120px;
        width: 290px;
    }

    .comment__desk1{
        width: 250px;
    }

    .secondComment{
        margin-top: 10px;
        width: 290px;
    }

    .comment__desk2{
        width: 250px;
    }

    .name2{
        width: 120px;
        height: 10px;
    }

    .thirdComment{
        margin-top: 10px;
        width: 290px;
    }

    .comment__desk3{
        width: 250px;
    }

    .subscribe__title{
        width: 300px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .subscribe__text{
        width: 290px;
        margin-top: 100px;
        margin-left: 10px;
    }

    .subscribeButton{
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 290px;
    }

    ul.socials{
        margin-left: 0;
        margin-top: auto;
        width: 300px;
    }

    li.socials__item{
        width: 320px;
        justify-content: center;
        list-style-type: none;
    }

    .logotype__icon {
        margin-top: 15px;
        margin-left: 0;
    }
    .logotype__text{
        margin-top: 23px;
        margin-left: 10px;
    }

    .marker__text{
        margin: auto;
    }

    .logotype{
        width: 220px;
        justify-content: start;
        margin-bottom: 30px;
    }

    .marker{
        margin-top: 10px;
    }

    .illustration1{
        display: none;
    }

    #menuToggle{
        display: block;
        position: absolute;
        margin-top: -7%;
        left: 20px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        color: tomato;
    }


    #menuToggle input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      margin-top: -25%;
      left: -5px;
      cursor: pointer;
      opacity: 0; /* hide this */
      z-index: 6; /* and place it over the hamburger */
      -webkit-touch-callout: none;
    }

    /*
     * Just a quick hamburger
     */
    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        top: -25%;
        margin-left: -10%;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 5;
        transform-origin: 4px 0;
        transition:  transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                     background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
      transform-origin: 0 0;
    }

    #menuToggle span:nth-last-child(2)
    {
      transform-origin: 0 100%;
    }

    /*
     * Transform all the slices of hamburger
     * into a crossmark.
     */
    #menuToggle input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }

    /*
     * But let's hide the middle one.
     */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
     * Ohyeah and the last one should go the other direction
     */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
    }

    /*
     * Make this absolute positioned
     * at the top left of the screen
     */
    #menu
    {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 125px 50px 50px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

        transform-origin: 0% 0%;
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
      padding: 10px 0;
      font-size: 22px;
    }

    /*
     * And let's slide it in from the left
     */
    #menuToggle input:checked ~ ul
    {
      transform: none;
    }
}