.illustration2__item{
    width: 508px;
    height: 417px;
    margin-top: 140px;
    background: linear-gradient( to top, #F6F5F5 100%, #FFFFFF 100%, #F4F3F3 100%);
}

.features{
    background: linear-gradient( to top, #F6F5F5 100%, #FFFFFF 100%, #F4F3F3 100%);
    margin-top: 142px;
}

.features__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    width: 384px;
    height: 100px;
    margin-top: 129px;
    color: #0B132A;
    margin-left: 204px;
}

.features__text{
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    width: 428px;
    height: 60px;
    margin-top: 20px;
    margin-left: 204px;
}

.pointers{
    list-style-image: url("../img/bx_bxs-check-circle.png") ;
    display: flex;
    flex-direction: column;
    margin-top: 21px;
}

.pointer__item{
    color: #4F5665;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    width: 180px;
    height: 30px;
    margin-left: 195px;
    margin-top: 15px;
}