@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.logo{
    margin-top: 42px;
    left: 150px;
}

.sign{
    background: #FFFFFF;
    color: #F53855;
    font-weight: 500;
    font-size: 16px;
    border-radius: 50px;
    border: 1px inset #F53855;
    height: 45px;
    width: 150px;
    cursor: pointer;
    margin-top: 38px;
    margin-left: 30px;
}

.sign:hover{
    background: #F53855;
    color: #FFFFFF;
}

.signin{
    left: 1057px;
    font-weight: 500;
    font-size: 16px;
    color: #0B132A;
    margin-top: 51px;
    margin-left:90px;
}

.main-header{
    padding: 24px 0;
    color: #4F5665;
}

.name{
    margin-top: 49px;
    margin-left: 10px;
    color: #0B132A;
    font-weight: 500;
    width: 104px;
    height: 24px;
    font-size: 20px;
}

.logo__item{
    color: #0B132A;
    font-weight: 700;
}

a{
    color: #4F5665;
}

#burger, [for=burger]{
    display: none;
}