.vpn__title{
    font-weight: 500;
    font-size: 50px;
    color: #0B132A;
    line-height: 70px;
    margin-top: 140px;
}

.vpn__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-top: 20px;
}

.getStarted{
    background: #F53838;
    color: #FFFFFF;
    border-radius: 10px;
    width: 250px;
    height: 60px;
    top: 492px;
    left: 147px;
    border: 0 #F53855;
    font-weight: 700;
    font-size: 16px;
    margin-top: 50px;
    cursor: pointer;
    opacity: 1;
}

.getStarted:hover{
    opacity: 0.6;
}

.illustration1__item{
    margin-top: 88px;
    margin-left: 41px;
}