.middle {
    display: flex;
    justify-content: space-between;
}

.side__form {
    width: 300px;
    justify-self: left;
    margin-top: 40px;
}

.side__title {
    margin-top: -31px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.side__inner {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    margin-left: 10px;
}

.horizontal__line {
    border: none;
    background-color: #b9bbbf;
    color: #b9bbbf;
    height: 1px;
    width: 230px;
    margin-top: 5px;
}

.form-label {
    color: rgb(92, 90, 90);
}

.count__label {
    margin-top: 15px;
    color: rgb(92, 90, 90);
}

.count__button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    /* border: 1px solid #16425f; */
    background-color: #fff;
    color: #173950;
    margin-right: 5px;
    font-family:Arial;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}

.count__result {
    margin-top: 13px;
    color: rgb(92, 90, 90);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 12px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.item__block {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color: rgb(238, 242, 246);
}

.item__images {
    width: 170px;
    height: 180px;
}

.item__paragraph {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.item__description {
    font-size: 14px;
    margin-top: 10px;
}

.item__price {
    font-size: 16px;
    font-weight: bold;
    color: #174c84;
    margin-top: 10px;
}

.edit__button, .remove__button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #16425f;
    background-color: #fff;
    color: #173950;
    margin-right: 5px;
    font-family: Arial;
    font-weight: 500;
    margin-top: 5px;
    cursor: pointer;
}

