 .hero__container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-left: 200px;
 }

 .hero__inner {
     padding-top: 301px;
     padding-bottom: 209px;
     width: 481px;
     /* flex: 1; */
 }

 .hero__title {
     color: #000;
     font-family: Playfair Display;
     font-size: 36px;
     font-weight: 700;
     line-height: 50px;
     animation-duration: 3s;
     animation-name: slidein;
     /*138.889% */
 }

 @keyframes slidein {
    from {
      margin-left: 20%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

 .hero__paragraph {
     color: #7D7987;
     font-family: Muli;
     font-size: 17px;
     font-weight: 300;
     line-height: 30px;
     /* 176.471% */
 }

 .hero__button {
     border-radius: 8px;
     background-color: #FB8F1D;
     color: #FFF;
     font-family: Inter;
     font-size: 15px;
     font-weight: 600;
     padding: 12px 25px;
     text-decoration: none;
     border: 1px solid #FB8F1D;
     width: 164px;
     height: 48px;
     border-radius: 8px;
     border: none;
     margin-top: 39px;
     background-color: #FB8F1D;
     color: #FFF;
     font-family: Inter;
     font-size: 16px;
     font-weight: 600;
     padding: 6px 0;
 }

 .hero__image {
     width: 599px;
     height: 542px;
     padding-top: 146px;
     margin-right: 35px ;
 }