.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 0;
}

.button a {
  text-decoration: none;
}

.objects__button:hover {
  background-color: #888888;
}

.objects__button {
  background-color: #7f7f7f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}