.checkout-box__forms{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: auto;
    gap: 0.5rem;
}

.checkout-box__title{
    margin: auto;
}

.btn-checkout{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}