.object-detail{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.object-detail__title{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.object-detail__description{
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 20px;
}

.object-detail__strength{
    border-radius: 20px;
    background-color: #82BBB5;
    color: #FFFFFF;
    text-align: center;
}

.object-detail__fields{
    display: flex;
}

.object-detail__price{
    display: flex;
    justify-content: center;
    padding-top: 30px;

    font-weight: 500;
    font-size: 30px;
}

